body {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 173, 181, 1) 35%,
    rgba(0, 176, 187, 1) 40%,
    rgba(0, 181, 197, 1) 49%,
    rgba(0, 183, 202, 1) 53%,
    rgba(0, 186, 208, 1) 58%,
    rgba(0, 191, 217, 1) 66%,
    rgba(0, 212, 255, 1) 100%
  );
}

h1 {
  color: #3a4750;
  font-family: "Pacifico", cursive;
  padding: 20px;
  padding-bottom: 0;
}

h4 {
  color: #3a4750;
  font-family: "Rowdies", cursive;
  padding: 20px;
}

a {
  text-decoration: none;
}

footer {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  text-align: center;
}

.find-your-city-search {
  border-radius: 5px;
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 24px;
  height: 55px;
  margin: 30px;
  opacity: 80%;
  padding: 3px;
  text-align: center;
  width: 200px;
}

.search-city-button {
  position: relative;
  bottom: 5px;
}

.current-weather-summary {
  border: 2px solid #3a4750;
  border-radius: 5px;
  color: #3a4750;
  float: left;
  font-size: 20px;
  font-weight: 700;
  height: 165px;
  margin-left: 80px;
  margin-top: 30px;
  padding: 20px 15px;
  text-transform: capitalize;
  width: 250px;
}

.weather-picture {
  float: left;
  height: 200px;
  margin-left: 40px;
  margin-top: 10px;
  padding: 20px;
  width: 190px;
}

.current-temperature {
  color: #3a4750;
  width: 200px;
  height: 200px;
  position: relative;
  top: -300px;
  left: 780px;
}

.current-temperature h5 {
  font-size: 6em;
}

.current-temperature h6 {
  font-size: 30px;
  margin-left: 10px;
}

.current-temperature h6,
.active {
  color: #3a4750;
  cursor: default;
}

.next-days-forecast {
  border-width: 10px;
  display: block;
  margin: 10px auto;
  padding: 20px;
}

.next-days-forecast .next-days-forecast-card {
  border-radius: 5px;
  background-color: #d6d6d6;
  margin-top: 60px;
  margin-right: 15px;
  padding: 15px;
  text-align: center;
}

.next-days-forecast .weather-forecast-date {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 25px;
}

.next-days-forecast .weather-forecast-temperature-max,
.weather-forecast-temperature-min {
  color: #3a4750;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
}

.next-days-forecast .next-day-weather-picture {
  margin: 10px;
}

.weather-app {
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  border-radius: 15px;
  border: 5px solid #fff;
  height: 800px;
  margin: 40px auto;
  padding: 40px;
  display: block;
  width: 1000px;
}

.github-link {
  color: #fff;
  text-decoration: underline;
}
